body{
    background-color: rgb(54, 51, 51);
    color: white;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

header{
    background-color: rgba(230, 220, 220, 0.514);
    box-shadow: 4px 6px 10px black;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


a{
    color: rgb(11, 208, 235);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

a:hover{
    color:white;
}

.imgProg{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    padding: 1em;
    margin: 0;
}

.container{
    padding: 1em;
    margin: 10px 10px;
}

article{
    display: flex;
    justify-content: center;
}

footer{
    background-color:rgba(230, 220, 220, 0.582);
    margin-top: auto;
}

section{
    padding: 1em;
    margin-top: 20px;
}

.card-img-filter{
    filter: brightness(0.5);
}

.container-fluid{
    padding: 2em;
}